<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Password</title>
</head>
<body>
    <h1>Restablecer Password</h1>
    <form th:action="@{/reset-password/token/{token}(token=${token})}" method="post">
        <div>
            <label for="password">Nuevo Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div>
            <button type="submit">Restablecer Password</button>
        </div>
    </form>
</body>
</html>
