<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>nombres</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users/update/{id}(id=${user.id})}">Editar</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}">Eliminar</a>
            </td>
        </tr>
    </table>
    <a href="/users/create">Registrar Usuario</a>
</body>
</html>
